<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.flightfinder.interfaces.FlightMapper">
    <resultMap id="FlightResultMap" type="com.solvd.flightfinder.entities.Flight" autoMapping="false">
        <result column="id" property="flightId"/>
        <result column="id" property="price"/>
        <result column="id" property="flightId"/>
        <association property="departureAirport" column="departure_airport_id"
                     javaType="com.solvd.flightfinder.entities.Airport"
                     select="com.solvd.flightfinder.interfaces.Airport.getById"/>
        <association property="arrivalAirport" column="arrival_airport_id"
                     javaType="com.solvd.flightfinder.entities.Airport"
                     select="com.solvd.flightfinder.interfaces.Airport.getById"/>
        <association property="airline" column="airline_id" javaType="com.solvd.flightfinder.entities.Airline"
                     select="com.solvd.flightfinder.interfaces.Airline.getById"/>
    </resultMap>
    <select id="getById" parameterType="Long" resultMap="FlightResultMap">
        Select *
        from Flights
        where id = #{flightId}
    </select>

    <select id="getAll" resultMap="FlightResultMap">
        Select *
        from Flights
    </select>
    <delete id="delete">
        Delete
        from Flights
        where id = #{flightId}
    </delete>
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        Insert into Flights (id, name)
        Values (#{flightId}, #{name})
    </insert>
    <update id="update">
        Update Flights
        Set name = #{name}
        where id = #{flightId}
    </update>
</mapper>