<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.flightfinder.interfaces.PassengerMapper">
   <resultMap id="PassengerResultMap" type="com.solvd.flightfinder.entities.Passenger" autoMapping="false">
      <result column="id" property="passengerId" />
      <result column="name" property="name" />
	  <result column="age" property="age" />
   </resultMap>
   <select id="getById" parameterType="Long" resultMap="PassengerResultMap">
	  Select * from Passengers where id =#{passengerId}
   </select>

   <select id="getAll" resultMap="PassengerResultMap">
	  Select * from Passengers
   </select>
   <delete id="delete">
	  Delete from Passengers where id =#{passengerId}
   </delete>
   <insert id="save" useGeneratedKeys="true" keyProperty="id">
	  Insert into Passengers (id,name,age)
  	  Values (#{passengerId},#{name},#{age})
   </insert>
   <update id="update">
	  Update Passengers Set
	  name = #{name}
	  age = #{age}
	  where id = #{passengerId}
   </update>
</mapper>