<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <environments default="demo">
        <environment id="demo">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver.class}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${user}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/mappers/CountryMapper.xml"/>
        <mapper resource="mybatis/mappers/CityMapper.xml"/>
        <mapper resource="mybatis/mappers/AirlineMapper.xml"/>
        <mapper resource="mybatis/mappers/AirportMapper.xml"/>
        <mapper resource="mybatis/mappers/FlightMapper.xml"/>
        <mapper resource="mybatis/mappers/PassengerMapper.xml"/>
    </mappers>
</configuration>